.container {
    position: relative;
    width: 400px;
    height: 300px;
    background-color: red;
    border-radius: 20px;
}

.box1 {
    position: absolute;
    width: 400px;
    height: 100px;
    background-color: rgb(209, 203, 203);
    border-radius: 3px
}

.box1-1 {
    position: absolute;
    width: 400px;
    height: 100px;
    background-color: rgb(209, 203, 203);
    border-radius: 10px
}


.box2 {
    position: absolute;
    width: 300px;
    height: 220px;
    background-color: rgb(255, 255, 255);
    left: 50px;
    border-radius: 10px;
    bottom: 95px;
}
