
body {
    background-color: #7d82e7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: row; /* שורה במחשב */
    background-color: white;
    width: 900px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}



.leftside {
    width: 40%;
    background: linear-gradient(to bottom, #5e60ce, #7450ac);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}


.leftside img {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.2); /* העיגול הבהיר מסביב לאייקון */
    border-radius: 50%;
    padding: 20px;
    object-fit: contain;
}


.rightside {
    width: 60%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.bottontext {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.bottontext p {
    color: #e63946; /* צבע אדום למחיר */
    font-weight: bold;
    font-size: 24px;
}


button {
    background: linear-gradient(to right, #5e60ce, #7450ac);
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}


@media (max-width: 900px) {
    .container {
        flex-direction: column; 
        width: 500px;
    }

    .leftside {
        width: 100%;
        height: 300px;
    }

    .rightside {
        width: 100%;
        box-sizing: border-box;
    }
}

@media (max-width: 599px) {
    .container {
        width: 90%;
    }

    .rightside {
        text-align: center; /* ממרכז את כל הטקסט */
    }

    .bottontext {
        flex-direction: column; /* המחיר מעל הכפתור */
        gap: 15px;
    }

    .bottontext p {
        margin: 0;
    }

    button {
        width: 100%; /* הכפתור נמתח לכל הרוחב */
    }
}