/* .container {
    width: 40%;           
    height: 150px;
    display: flex
}


.section {
  width: calc(100% / 4); 
  height: 100%;
  border: 4px solid black;
  background-color: rgb(27, 144, 239);
  font-size: 20px;
} */

.container {
    width: 40%;           
    height: 150px;
    display: flex
}


.section {
  width: calc(100% / 3); 
  height: 100%;
  border: 4px solid black;
  background-color: rgb(27, 144, 239);
  font-size: 20px;
}

.section2 {
  width: calc(100% - 50px); 
  height: 100%;
  border: 4px solid black;
  background-color: rgb(27, 144, 239);
  font-size: 20px;
}