.container {
    background-color: lightgray;
    padding: 20px;
    width: 50%;
}


.flex-wrapper {
    display: flex;
    gap: 15px;
    /* background-color: rgb(255, 189, 127); */

}

.box-big {
    width: 250px;
    height: 315px; 
    background-color: #6495ed;
}


.small-grid {
    display: flex;
    flex-wrap: wrap; 
    width: 315px;    
    gap: 15px; 
    /* background-color: aquamarine; */
}

.box-small {
    width: 150px;
    height: 150px;
    background-color: #6495ed;
}
