.container {
    width: 40%;           
    height: 300px;
    display: flex;
    padding: 10px;
}


.section {
  width: calc(100% / 2); 
  height: 400px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 5px;
}

p {
    padding: 10px;
    padding-top: 30%;
}

.ball {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: blue;
    margin-left: 30%;
    margin-top: 50%;
}
