.container {
    background-color: gray;
    padding: 20px 20px;
    width: 25%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 1);
}

.green {
    padding: 20px 20px;
    background-color: green;
    width: 5%;

    display: flex;         /* הופך את המיכל לגמיש */
    flex-direction: row;   /* מסדר את האיברים בשורה (זו ברירת המחדל) */
    align-items: center;   /* מיישר אותם לאותו גובה במרכז */
    gap: 10px;
}

.orange {
    padding: 20px 20px;
    background-color: orange;
    width: 5%;
}

.prompt {
    margin-top: 5px;
}

.button {
    background-color: green;
}

.box {
    display: flex; 
    flex-direction: row; 
    gap: 8px; 
    border: 10px; 
    border-color: black
}