/* #example{
  width: 100px;
  height: 100px;
  background-color: red;
  margin-top: 100px;
  margin-left: 100px;
  padding-top: 100px;

}

#example2{
    width: 100px;
    height: 100px;
    background-color: rgb(26, 27, 28);
    margin-top: 10px;
    padding-left: 100px;

} */

#parent {
    width: 300px;
    height: 300px;
    background-color: brown;
    position: relative;
    
}

#child1{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 255, 68);
    position: absolute;
}

#child2{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 110, 255);
    position: absolute;
    top: 200px;
    left: 200px;
    
}

#child3{
    width: 100px;
    height: 100px;
    background-color: rgb(212, 0, 255); 
    position: absolute;
    top: 200px

}

#child4{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 0);
    position: absolute;
    left: 200px;
  
}

#child5{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 100px;
    top: 100px;
  
}