@media(max-width: 901px){
  h1{
    font-size: 48px;
  }

  p {
    font-size: 18px;
    /* color: aqua; */
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  h1{
    font-size: 36px;
  }

  p {
    font-size: 16px;
    /* color: blueviolet; */
  }
}

@media(max-width: 599px){
  h1{
    font-size: 24px;
  }

  p {
    font-size: 14px;
    /* color:chartreuse; */
  }
}