.continer {
    width: 300px;
    height: 300px;
    background-color: blue;
    position: relative;
}

.row {
    position: absolute;
    width: 300px;
    height: 10px;
    background-color: red;
    top: 30px;
}

.colum {
    position: absolute;
    width: 10px;
    height: 300px;
    background-color: red;
    left: 30px;
}