.a {
    background-color: #f5deb3; 
    color: blue;               
    padding: 10px 20px;        
    text-decoration: none;     
    margin-right: 5px;     
}

.img {
     margin-right: 5px;  
}

